<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjy.edu.mapper.EduCaseMapper">
    
    <resultMap type="EduCase" id="EduCaseResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="templateId"    column="template_id"    />
        <result property="description"    column="description"    />
        <result property="caseName"    column="case_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="tbc1"    column="TBC1"    />
        <result property="tbc2"    column="TBC2"    />
        <result property="tbc3"    column="TBC3"    />
        <result property="tbc4"    column="TBC4"    />
        <result property="tbc5"    column="TBC5"    />
    </resultMap>

    <sql id="selectEduCaseVo">
        select id, type, template_id, description, case_name, create_time, update_time, TBC1, TBC2, TBC3, TBC4, TBC5 from edu_case
    </sql>

    <select id="selectEduCaseList" parameterType="EduCase" resultMap="EduCaseResult">
        <include refid="selectEduCaseVo"/>
        <where>  
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="templateId != null "> and template_id = #{templateId}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="caseName != null  and caseName != ''"> and case_name like concat('%', #{caseName}, '%')</if>
            <if test="tbc1 != null  and tbc1 != ''"> and TBC1 = #{tbc1}</if>
            <if test="tbc2 != null  and tbc2 != ''"> and TBC2 = #{tbc2}</if>
            <if test="tbc3 != null  and tbc3 != ''"> and TBC3 = #{tbc3}</if>
            <if test="tbc4 != null  and tbc4 != ''"> and TBC4 = #{tbc4}</if>
            <if test="tbc5 != null  and tbc5 != ''"> and TBC5 = #{tbc5}</if>
            <if test="searchValue != null  and searchValue != ''"> and case_name like concat('%', #{searchValue}, '%')
             or type like concat('%', #{searchValue}, '%')</if>
        </where>
    </select>
    
    <select id="selectEduCaseById" parameterType="Long" resultMap="EduCaseResult">
        <include refid="selectEduCaseVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEduCase" parameterType="EduCase" useGeneratedKeys="true" keyProperty="id">
        insert into edu_case
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">type,</if>
            <if test="templateId != null">template_id,</if>
            <if test="description != null">description,</if>
            <if test="caseName != null">case_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="tbc1 != null">TBC1,</if>
            <if test="tbc2 != null">TBC2,</if>
            <if test="tbc3 != null">TBC3,</if>
            <if test="tbc4 != null">TBC4,</if>
            <if test="tbc5 != null">TBC5,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">#{type},</if>
            <if test="templateId != null">#{templateId},</if>
            <if test="description != null">#{description},</if>
            <if test="caseName != null">#{caseName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="tbc1 != null">#{tbc1},</if>
            <if test="tbc2 != null">#{tbc2},</if>
            <if test="tbc3 != null">#{tbc3},</if>
            <if test="tbc4 != null">#{tbc4},</if>
            <if test="tbc5 != null">#{tbc5},</if>
         </trim>
    </insert>

    <update id="updateEduCase" parameterType="EduCase">
        update edu_case
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null">type = #{type},</if>
            <if test="templateId != null">template_id = #{templateId},</if>
            <if test="description != null">description = #{description},</if>
            <if test="caseName != null">case_name = #{caseName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="tbc1 != null">TBC1 = #{tbc1},</if>
            <if test="tbc2 != null">TBC2 = #{tbc2},</if>
            <if test="tbc3 != null">TBC3 = #{tbc3},</if>
            <if test="tbc4 != null">TBC4 = #{tbc4},</if>
            <if test="tbc5 != null">TBC5 = #{tbc5},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEduCaseById" parameterType="Long">
        delete from edu_case where id = #{id}
    </delete>

    <delete id="deleteEduCaseByIds" parameterType="String">
        delete from edu_case where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>