<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjy.edu.mapper.EduGroupMapper">
    
    <resultMap type="EduGroup" id="EduGroupResult">
        <result property="id"    column="id"    />
        <result property="groupName"    column="group_name"    />
        <result property="totalSeats"    column="total_seats"    />
        <result property="groupInterval"    column="group_interval"    />
        <result property="partitionId"    column="partition_id"    />
        <result property="functionAttribute"    column="function_attribute"    />
        <result property="color"    column="color"    />
        <result property="tbc1"    column="TBC1"    />
        <result property="tbc2"    column="TBC2"    />
        <result property="tbc3"    column="TBC3"    />
        <result property="tbc4"    column="TBC4"    />
        <result property="tbc5"    column="TBC5"    />
    </resultMap>

    <sql id="selectEduGroupVo">
        select id, group_name, total_seats, group_interval, partition_id, function_attribute, color, TBC1, TBC2, TBC3, TBC4, TBC5 from edu_group
    </sql>

    <select id="selectEduGroupList" parameterType="EduGroup" resultMap="EduGroupResult">
        <include refid="selectEduGroupVo"/>
        <where>  
            <if test="groupName != null  and groupName != ''"> and group_name like concat('%', #{groupName}, '%')</if>
            <if test="totalSeats != null "> and total_seats = #{totalSeats}</if>
            <if test="groupInterval != null  and groupInterval != ''"> and group_interval = #{groupInterval}</if>
            <if test="partitionId != null "> and partition_id = #{partitionId}</if>
            <if test="functionAttribute != null  and functionAttribute != ''"> and function_attribute = #{functionAttribute}</if>
            <if test="color != null  and color != ''"> and color = #{color}</if>
            <if test="tbc1 != null  and tbc1 != ''"> and TBC1 = #{tbc1}</if>
            <if test="tbc2 != null  and tbc2 != ''"> and TBC2 = #{tbc2}</if>
            <if test="tbc3 != null  and tbc3 != ''"> and TBC3 = #{tbc3}</if>
            <if test="tbc4 != null  and tbc4 != ''"> and TBC4 = #{tbc4}</if>
            <if test="tbc5 != null  and tbc5 != ''"> and TBC5 = #{tbc5}</if>
        </where>
    </select>
    
    <select id="selectEduGroupById" parameterType="Long" resultMap="EduGroupResult">
        <include refid="selectEduGroupVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEduGroup" parameterType="EduGroup" useGeneratedKeys="true" keyProperty="id">
        insert into edu_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupName != null">group_name,</if>
            <if test="totalSeats != null">total_seats,</if>
            <if test="groupInterval != null">group_interval,</if>
            <if test="partitionId != null">partition_id,</if>
            <if test="functionAttribute != null">function_attribute,</if>
            <if test="color != null">color,</if>
            <if test="tbc1 != null">TBC1,</if>
            <if test="tbc2 != null">TBC2,</if>
            <if test="tbc3 != null">TBC3,</if>
            <if test="tbc4 != null">TBC4,</if>
            <if test="tbc5 != null">TBC5,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupName != null">#{groupName},</if>
            <if test="totalSeats != null">#{totalSeats},</if>
            <if test="groupInterval != null">#{groupInterval},</if>
            <if test="partitionId != null">#{partitionId},</if>
            <if test="functionAttribute != null">#{functionAttribute},</if>
            <if test="color != null">#{color},</if>
            <if test="tbc1 != null">#{tbc1},</if>
            <if test="tbc2 != null">#{tbc2},</if>
            <if test="tbc3 != null">#{tbc3},</if>
            <if test="tbc4 != null">#{tbc4},</if>
            <if test="tbc5 != null">#{tbc5},</if>
         </trim>
    </insert>

    <update id="updateEduGroup" parameterType="EduGroup">
        update edu_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupName != null">group_name = #{groupName},</if>
            <if test="totalSeats != null">total_seats = #{totalSeats},</if>
            <if test="groupInterval != null">group_interval = #{groupInterval},</if>
            <if test="partitionId != null">partition_id = #{partitionId},</if>
            <if test="functionAttribute != null">function_attribute = #{functionAttribute},</if>
            <if test="color != null">color = #{color},</if>
            <if test="tbc1 != null">TBC1 = #{tbc1},</if>
            <if test="tbc2 != null">TBC2 = #{tbc2},</if>
            <if test="tbc3 != null">TBC3 = #{tbc3},</if>
            <if test="tbc4 != null">TBC4 = #{tbc4},</if>
            <if test="tbc5 != null">TBC5 = #{tbc5},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEduGroupById" parameterType="Long">
        delete from edu_group where id = #{id}
    </delete>

    <delete id="deleteEduGroupByIds" parameterType="String">
        delete from edu_group where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>